:root{
    --black: #000000;
    --grisJet: #2F2F2F;
    --walnutBrown: #675C46;
    --coyote: #7C6F55;
    --golden: #BDA871;
    --goldenEcru: #C3B07E;
    --goldenClaro: #CDBE95;
    --white: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    background-color: #000000;
    font-family: jumeirah-font2,Helvetica,Arial,sans-serif;
}

.fondovideo{
    width: 100%;
    height: 100vh;
    display: flex;
}

video {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 3;
}

.ofertas_titulo {
    color: #CDBE95;
}

.ofertas_cards{
    height: 100vh;
}