@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    color: #000000;
    color: #2F2F2F;
    color: #7C6F55;
    color: #BDA871;
    color: #C3B07E;
    color: #CDBE95;
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url(https://cdn.jumeirah.com/-/mediadh/dh/hospitality/jumeirah/hotels/dubai/madinat-jumeirah/al-qasr-at-madinat-jumeirah/hero/jumeirah-al-qasr-entrance-aerial-drone_landscape.jpg?w=2080);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


.wrapper {
    width: 420px;
    background-color: rgba(0, 0, 0, 0.112);
    backdrop-filter: blur(10px);
    color: #ffff;
    border: 1px solid #ffffff33;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper input {
    width: 100%;
    height: 100%;
    color: #ffff;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    
}

.wrapper input::placeholder {
    color: #ffffff;
}

.input-box i {
    color: #CDBE95;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    width: 12px;
    accent-color: #ffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ffff;
    text-decoration: none;

}

.remember-forgot a:hover {
    text-decoration: underline;
    color: #CDBE95;
}

.contenedor-boton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.wrapper .btn {
    width: 200px;
    height: 45px;
    background: #000000a6;
    border: solid 2px #7C6F55;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 0%;
    margin: 20px;
    padding: 3%;
    color: #FFFFFF;
}

.wrapper .btn:hover {
    background-color: #675C46;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {

    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.register-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.resultado {
    text-align: center;
}